.favContainer {
  display: flex;
  flex-direction: column;
  gap: rem-calc(32);
  margin-top: rem-calc(24);

  @include md {
    gap: rem-calc(48);
    margin-top: rem-calc(64);
  }

  .title {
    font-weight: 600;
    @include typography('display-xs', 'bold');
    color: get-color('neutral', 100);

    @include md {
      letter-spacing: rem-calc(-0.8);
      @include typography('display-lg', 'bold');
    }
  }

  .favCard {
    display: flex;
    flex-direction: column;
    gap: rem-calc(24);
    margin-bottom: rem-calc(48);

    .movieInfo {
      display: flex;
      flex-direction: row;
      gap: rem-calc(16);

      .image img {
        width: rem-calc(104);
        height: auto;
        border-radius: rem-calc(8);
        flex-shrink: 0;

        @include md {
          width: rem-calc(182);
        }
      }

      .content {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: rem-calc(4);
        height: rem-calc(152);

        @include md {
          gap: rem-calc(12);
          height: rem-calc(270);
          width: rem-calc(772);
        }

        .title {
          @include typography('text-md', 'bold');
          color: get-color('neutral', 100);

          @include md {
            @include typography('display-xs', 'bold');
          }
        }

        .rating {
          display: flex;
          align-items: center;
          gap: rem-calc(4);

          p {
            @include typography('text-sm', 'medium');
            color: get-color('neutral', 100);

            @include md {
              @include typography('text-lg', 'medium');
            }
          }
        }

        .overview {
          @include typography('text-sm', 'regular');
          color: get-color('neutral', 300);
          line-height: 1.4;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          -webkit-box-orient: vertical;

          @include md {
            @include typography('text-md', 'regular');
            width: 100%;
          }
        }

        .desktopOnly {
          display: none;

          @include md {
            display: flex;
            margin-top: rem-calc(12);

            .ctaButton {
              @include typography('text-md', 'semibold');
              width: rem-calc(220);
            }
          }
        }
      }

      .desktopOnly {
        display: none;

        @include md {
          display: flex;

          .favIcon {
            width: rem-calc(44);
            height: rem-calc(44);
            border: 1px solid #252b37;
            border-radius: 999px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            flex-shrink: 0;

            img {
              width: rem-calc(24);
              height: rem-calc(24);
            }
          }
        }
      }
    }

    .mobileOnly {
      display: block;

      @include md {
        display: none;
      }

      .cardActions {
        display: flex;
        align-items: center;
        gap: rem-calc(16);
        width: 100%;

        .ctaButton {
          @include typography('text-sm', 'semibold');
          width: 100%;

          @include md {
            @include typography('text-md', 'semibold');
            width: rem-calc(220);
          }
        }

        .favIcon {
          width: rem-calc(44);
          height: rem-calc(44);
          border: 1px solid #252b37;
          border-radius: 999px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          flex-shrink: 0;

          img {
            width: rem-calc(24);
            height: rem-calc(24);
          }
        }
      }
    }
  }
}
