.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: rem-calc(223) rem-calc(16) 0 rem-calc(16);

  @include md {
    padding: rem-calc(298) rem-calc(565) rem-calc(246) rem-calc(172);
  }

  &::before {
    content: '';
    background-image: url('../../assets/hero_image.png');
    opacity: 0.5;
    top: rem-calc(-125);
    left: 0;
    width: 100%;
    height: calc(100% + rem-calc(125));
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
  }

  .overflowWrapper {
    overflow: hidden;
    .container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: start;
      gap: get-spacing('spacing-2xl');

      .title {
        @include typography('display-xs', 'bold');
        color: get-color('neutral', 100);
        z-index: 2;

        @include md {
          @include typography('display-2xl', 'bold');
        }
      }
      .description {
        @include typography('text-sm', 'regular');
        color: get-color('neutral', 200);
        z-index: 2;

        @include md {
          @include typography('text-md', 'regular');
        }
      }

      .buttonContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 12px;

        @include md {
          flex-direction: row;
          width: auto;
        }

        .ctaButton {
          @include typography('text-sm', 'medium');
          width: 100%;

          @include md {
            @include typography('text-md', 'medium');
            width: 230px;
          }
        }
      }
    }
  }
}
